//侧边菜单
@import "index";

.hideSidebar {
    .sidebar-container {
        width: 54px !important;
    }
    .el-menu--collapse {
        width: 54px !important;
    }
    .sub-menu-item{
        width: 54px !important;
    }
}